
.container {
	width: 250px;
	height: 330px;
}

.header {
	width: 100%;
	height: 20%;
}

.main {
	width: 100%;	
	height: 70%;
	text-align: center;
}

.main .username {
	margin-bottom: 5px;
}

.main .password {
	margin-bottom: 5px;
}

#spinner {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.gif) 50% 50% no-repeat #ede9df;
}